/* CheckoutForm.css */
.checkout-form {
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-element-wrapper {
  margin-top: 20px;
  padding: 10px;
  background-color: #f4f4f9;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.StripeElement {
  width: 100%;
  padding: 10px;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #2980b9;
}

.error {
  color: red;
  margin-top: 10px;
}
